/* stylelint-disable max-line-length */
/* stylelint-disable selector-id-pattern */
body {
  display: grid;
  width: auto;
  height: 75vw;
}

#container {
  display: grid;
  grid-template-columns: [first] 25vw [line2] 50vw [line3] 25vw [end];
  grid-template-rows: [first] 3vw [line2] 3vw [line3] 10vw [line4] 1vw [line5] 12vw [line6] 1vw [line7] 2vw [line8] 4vw [end];
}

#header {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: auto  auto auto 7%;
  font-size: xxx-large;
}

#inputRGBtopyBLArray {
  background-color: lightgray;
  grid-column-start: 2;
  grid-row-start: 3;
  display: inline-grid;
  width: 100%;
  height: 100%;
  grid-template-columns: [first] 30% [label] 5% [labels] 5% [inputboxes]15% [buffer] 3% [submit] auto [buffer] 20% [end];
  grid-template-rows: [first] 7% [line2] 20% [line3] 3% [line4] 20% [line5] 3% [line6] 20% [line7] 3% [line8] 20% [line9] 3% [end];
}

#inputRGBtopyBLArray #colorInputRGB {
  grid-column: 2 / 7;
  grid-row: 2 / 3;
  font-size: xx-large;
}

#inputRGBtopyBLArray #labelR {
  grid-column-start: 3;
  grid-row-start: 4;
  font-size: larger;
  margin: auto;
}

#inputRGBtopyBLArray #colorR {
  grid-column-start: 4;
  grid-row-start: 4;
}

#inputRGBtopyBLArray #labelG {
  grid-column-start: 3;
  grid-row-start: 6;
  font-size: larger;
  margin: auto;
}

#inputRGBtopyBLArray #colorG {
  grid-column-start: 4;
  grid-row-start: 6;
}

#inputRGBtopyBLArray #labelrgbB {
  grid-column-start: 3;
  grid-row-start: 8;
  font-size: larger;
  margin: auto;
}

#inputRGBtopyBLArray #colorrgbB {
  grid-column-start: 4;
  grid-row-start: 8;
}

#inputRGBtopyBLArray #RGBButton {
  grid-column-start: 6;
  grid-row-start: 8;
}

#inputpyBLtoRGBArray {
  background-color: lightgray;
  grid-column-start: 2;
  grid-row-start: 5;
  display: inline-grid;
  width: 100%;
  height: 100%;
  grid-template-columns: [first] 30% [label] 5% [labels] 5% [inputboxes]15% [buffer] 3% [submit] auto [buffer] 20% [end];
  grid-template-rows: [first] 8% [line2] 16% [line3] 2% [line4] 16% [line5] 2% [line6] 16% [line7] 2% [line8] 16% [line9] 2% [line10] 16% [end];
}

#inputpyBLtoRGBArray #colorInputpyBL {
  grid-column: 2 / 7;
  grid-row-start: 2;
  font-size: xx-large;
}

#inputpyBLtoRGBArray #labelp {
  grid-column-start: 3;
  grid-row-start: 4;
  font-size: larger;
  margin: auto;
}

#inputpyBLtoRGBArray #colorp {
  grid-column-start: 4;
  grid-row-start: 4;
}

#inputpyBLtoRGBArray #labely {
  grid-column-start: 3;
  grid-row-start: 6;
  font-size: larger;
  margin: auto;
}

#inputpyBLtoRGBArray #colory {
  grid-column-start: 4;
  grid-row-start: 6;
}

#inputpyBLtoRGBArray #labelpyB {
  grid-column-start: 3;
  grid-row-start: 8;
  font-size: larger;
  margin: auto;
}

#inputpyBLtoRGBArray #colorpyB {
  grid-column-start: 4;
  grid-row-start: 8;
}

#inputpyBLtoRGBArray #labelL {
  grid-column-start: 3;
  grid-row-start: 10;
  font-size: larger;
  margin: auto;
}

#inputpyBLtoRGBArray #colorL {
  grid-column-start: 4;
  grid-row-start: 10;
}

#inputpyBLtoRGBArray #pyBLButton {
  grid-column-start: 6;
  grid-row-start: 10;
}

#outputLabel {
  grid-column-start: 2;
  grid-row-start: 7;
  font-size: xx-large;
}

#output {
  background-color: lightgray;
  grid-column-start: 2;
  grid-row-start: 8;
  font-size: xx-large;
}
